<div class="container">
    <div class="columns is-mobile is-centered">
        <div class="notification is-light">
            <button class="delete"></button>
            <strong id="notification-message"></strong>
        </div>
    </div>
</div>